<div class="center jumbotron">
  <a title = "Awesome platform for students"> <h1>Roleplay color in testing</h1> </a>

  <h2>
    <strong>  Welcome </strong>
    <a href="http://www.railstutorial.org/">Please sign up if you have not done so</a>
    
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<p> <br/> </p>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="50"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    
     <font color ="black"><strong>Lv 3 </strong></font> - 70% ( 318294 <em> more exp to level</em> )
  </div>
</div>
<!--
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
-->